<!DOCTYPE html>
<html>
  <head>
    <!-- Title -->
    <title><%= title %></title>

    <!-- CSS library load -->
    <%- include partials/styleSection.ejs %>

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="css/themes/theme-blue.css" />
    
  </head>

  <body class="header-horizontal dark-overlay">
    <div id="body-wrapper">      
        <!-- Header -->
        <%- include partials/navBar.ejs %>
        <!-- Content -->
        <div id="content">
            
        </div> <!-- END CONTENT -->

        <!-- Section / Footer -->
        <%- include partials/footerSection.ejs %>  

        <!-- Body Overlay -->
        <div id="body-overlay"></div>
            
    </div> <!-- END BODY WRAPPER -->

    <!-- Panel - Objects -->
    <%- include partials/panelBar.ejs %>
    
    <!-- Video Modal / Demo -->
    
    <div class="modal modal-video fade" id="modalVideo" role="dialog">
        <button class="close dark" data-dismiss="modal"></button>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <iframe height="500"></iframe>
            </div>
        </div>
    </div>
    
    <!-- Script library for page -->
    <%- include partials/scriptSection.ejs %>  
    
    </body>
</html>
        