<section id="mudbath" class="section">
  
  <div class="container">
      <div class="row gutters-lg align-items-center">
          <div class="col-lg-4">
              <span class="badge badge-default mb-5"><i class="fa fa-check-circle text-success"></i><%= translation.intro_mudbath %></span>
              <h1 class="mb-0"><%= translation.mineral_mudbath %></h1>
              <p class="lead text-muted mb-5"><%= translation.mb_intro %></p>
              <!-- Feature #1 -->
              <div class="feature feature-1 mb-0">
                  <i class="icon icon-primary ti ti-home animated" data-animation="fadeInDown"></i>
                  <div class="feature-content">
                      <h6 class="mb-0 text-muted"><%= translation.adult_price %></h6>
                      <span class="h3">350.000 <sup>vnd</sup></span>
                  </div>
              </div>
              <hr class="hr-sm">
              <!-- Feature #1 -->
              <div class="feature feature-1">
                  <i class="icon icon-primary ti ti-fullscreen animated" data-animation="fadeInDown" data-animation-delay="200"></i>
                  <div class="feature-content">
                      <h6 class="mb-0 text-muted"><%= translation.kid_price %></h6>
                      <span class="h3">175.000 <sup>vnd</sup></span>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
              <img class="rounded shadow" src="img/mudbathspa/intro.png" alt="">
          </div>
          <div class="col-lg-4 col-md-6" data-local-scroll>
              <p><%= translation.aboutMB_line1 %></p>
              <p><%= translation.aboutMB_line2 %></p>
              <a href="#rooms" class="btn btn-primary animated" data-animation="fadeIn">Check rooms list</a>
          </div>
      </div>
  </div>

</section>