<section id="spa" class="section">
  
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 push-lg-1 col-md-6">
                <h1><%=  translation.spa %></h1>
                <div id="tab_about" class="tab-pane fade show active" role="tabpanel">
                    <p class="lead"><%=  translation.spa_introduce_line1 %></p>
                    <p class="mb-5"><%=  translation.spa_introduce_line2 %></p>
                    <a href="#contact" class="btn btn-primary mb-4"><%=  translation.contact %></a>
                </div>
            </div>

            <div class="col-md-6">
                <figure class="media-box">
                    <div class="image"><img src="img/mudbathspa/intro_spa.png" alt=""></div>
                    <button class="btn-play animated visible" data-animation="fadeInUp" data-toggle="video-modal" data-target="#modalVideo" data-video="https://www.youtube.com/embed/OB2oYlLSAiA"></button>
                </figure>
            </div>
        </div>
    </div>

    <section id="rooms" class="section bg-light pt-0 pb-5" style="padding-top: 3rem!important;">
  
        <div class="objects-container container">
            <div class="tab-content">
                <div id="grid_view" class="tab-pane fade show active" role="tabpanel">
                  <div class="objects-grid gutters-sm row">
                      
                      <div class="col-lg-3 col-12">
                          <div class="object object-vertical">
                            <div class="object-image">
                                <a class="link-inherit" href="#"><img src= "img/mudbathspa/bamboo.jpg" alt=""></a>
                            </div>
                            <div class="object-content">
                                <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_bamboo %> <i class="fa fa-check-circle text-success ml-2"></i></a></h5>
                                <ul class="object-details list-unstyled" >
                                  <li class="row gutters align-items-left">
                                    <span class="col-12"><%= translation.spa_bamboo_line1 %></span> 
                                    <span class="col-12"><%= translation.spa_bamboo_line2 %></span> 
                                    <span class="col-12"><%= translation.spa_bamboo_line3 %></span> 
                                    <span class="col-12"><%= translation.spa_bamboo_line4 %></span> 
                                    <span class="col-12"><%= translation.spa_bamboo_line5 %></span> 
                                    <span class="col-12"><%= translation.spa_bamboo_line6 %></span> 
                                  </li>
                                </ul>
                                <span class="object-price"> 1.400.000 <sup> VND /<%= translation.package %></sup> </span>
                            </div> 
                          </div>
                      </div> <!-- #end.room-block-->  

                      <div class="col-lg-3 col-12">
                          <div class="object object-vertical">
                            <div class="object-image">
                                <a class="link-inherit" href="#"><img src= "img/mudbathspa/ruby.jpg" alt=""></a>
                            </div>
                            <div class="object-content">
                                <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_ruby %> <i class="fa fa-check-circle text-success ml-2"></i></a></h5>
                                <ul class="object-details list-unstyled" >
                                  <li class="row gutters align-items-left">
                                    <span class="col-12"><%= translation.spa_ruby_line1 %></span> 
                                    <span class="col-12"><%= translation.spa_ruby_line2 %></span> 
                                    <span class="col-12"><%= translation.spa_ruby_line3 %></span> 
                                    <span class="col-12"><%= translation.spa_ruby_line4 %></span> 
                                    <span class="col-12"><%= translation.spa_ruby_line5 %></span> 
                                    <span class="col-12"><%= translation.spa_ruby_line6 %></span> 
                                  </li>
                                </ul>
                                <span class="object-price"> 1.600.000 <sup> VND /<%= translation.package %></sup> </span>
                            </div> 
                          </div>
                      </div> <!-- #end.room-block-->  

                      <div class="col-lg-3 col-12">
                          <div class="object object-vertical">
                            <div class="object-image">
                                <a class="link-inherit" href="#"><img src= "img/mudbathspa/sakura.jpg" alt=""></a>
                            </div>
                            <div class="object-content">
                                <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_sakura %> <i class="fa fa-check-circle text-success ml-2"></i></a></h5>
                                <ul class="object-details list-unstyled" >
                                  <li class="row gutters align-items-left">
                                    <span class="col-12"><%= translation.spa_sakura_line1 %></span> 
                                    <span class="col-12"><%= translation.spa_sakura_line2 %></span> 
                                    <span class="col-12"><%= translation.spa_sakura_line3 %></span> 
                                    <span class="col-12"><%= translation.spa_sakura_line4 %></span> 
                                    <span class="col-12"><%= translation.spa_sakura_line5 %></span> 
                                    <span class="col-12"><%= translation.spa_sakura_line6 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line7 %></span> 
                                  </li>
                                </ul>
                                <span class="object-price"> 1.700.000 <sup> VND /<%= translation.package %></sup> </span>
                            </div> 
                          </div>
                      </div> <!-- #end.room-block-->  

                      <div class="col-lg-3 col-12">
                          <div class="object object-vertical">
                            <div class="object-image">
                                <a class="link-inherit" href="#"><img src= "img/mudbathspa/lavender.jpg" alt=""></a>
                            </div>
                            <div class="object-content">
                                <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_lavender %> <i class="fa fa-check-circle text-success ml-2"></i></a></h5>
                                <ul class="object-details list-unstyled" >
                                  <li class="row gutters align-items-left">
                                    <span class="col-12"><%= translation.spa_lavender_line1 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line2 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line3 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line4 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line5 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line6 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line7 %></span> 
                                    <span class="col-12"><%= translation.spa_lavender_line8 %></span> 
                                  </li>
                                </ul>
                                <span class="object-price"> 4.000.000 <sup> VND /<%= translation.package %></sup> </span>
                            </div> 
                          </div>
                      </div> <!-- #end.room-block-->  
  
                  </div>
                </div>
              </div>  
          </div>
  
    
        <div class="objects-container container">
          <div class="tab-content">
              <div id="grid_view" class="tab-pane fade show active" role="tabpanel">
                <div class="objects-grid gutters-sm row">
                    
                    <!-- #room-block /Superior-->
                    <div class="col-lg-3 col-12">
                        <div class="object object-vertical">
                          <div class="object-image">
                              <a class="link-inherit" href="#"><img src= "img/mudbathspa/body.jpg" alt="" style="height: 175px"></a>
                          </div>
                          <div class="object-content">
                              <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_body %> </a></h5>
                              <ul class="object-details list-unstyled">
                                <li class="row gutters align-items-left">
                                  <span class="text-muted col-7"><%= translation.spa_body_herbal %></span>
                                  <span class="col-5"> 1.000.000 <sup>vnd</sup></span>
                                </li>
    
                                <li class="row gutters align-items-left">
                                  <span class="text-muted col-7"><%= translation.spa_body_signature %> <i class="fa fa-check-circle text-success ml-2"></i></span> 
                                  <span class="col-5"> 800.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_body_hotstone %></span> 
                                    <span class="col-5"> 800.000 <sup>vnd</sup></span>
                                </li>
    
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_body_aroma %></span> 
                                    <span class="col-5"> 600.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_body_thai %></span> 
                                    <span class="col-5"> 580.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_body_swedish %></span> 
                                    <span class="col-5"> 550.000 <sup>vnd</sup></span>
                                  </li>
                                  <li class="row gutters align-items-left">
                                      <span class="text-muted col-7"><%= translation.spa_body_vietnam %></span> 
                                      <span class="col-5"> 550.000 <sup>vnd</sup></span>
                                    </li>
                              </ul>
                          </div> 
                        </div>
                    </div> <!-- #end.room-block-->
                    
                    <!-- #room-block /Deluxe-->
                    <div class="col-lg-3 col-12">
                        <div class="object object-vertical">
                          <div class="object-image">
                              <a class="link-inherit" href="#"><img src= "img/mudbathspa/foot.jpg" alt="" style="height: 175px"></a>
                          </div>
                          <div class="object-content">
                              <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_foot %> </a></h5>
                              <ul class="object-details list-unstyled">
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_foot_acuppressure %> <i class="fa fa-check-circle text-success ml-2"></i></span> 
                                    <span class="col-5"> 550.000 <sup>vnd</sup></span>
                                </li>
    
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_foot_hotstone %></span> 
                                    <span class="col-5"> 550.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                  <span class="text-muted col-7"><%= translation.spa_foot_exfoliating %></span> 
                                  <span class="col-5"> 550.000 <sup>vnd</sup></span>
                                </li>
                              </ul>
                          </div> 
                        </div>
                    </div> <!-- #end.room-block-->
                    
                    <!-- #room-block /Suite City View-->
                    <div class="col-lg-3 col-12">
                        <div class="object object-vertical">
                          <div class="object-image">
                              <a class="link-inherit" href="#"><img src= "img/mudbathspa/face.jpg" alt="" style="height: 175px"></a>
                          </div>
                          <div class="object-content">
                              <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_face %> </a></h5>
                              <ul class="object-details list-unstyled">
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_face_antiage %></span> 
                                    <span class="col-5"> 1.200.000 <sup>vnd</sup></span>
                                </li>
    
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_face_mask %><i class="fa fa-check-circle text-success ml-2"></i></span> 
                                    <span class="col-5"> 850.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_face_rebalancing %></span> 
                                    <span class="col-5"> 850.000 <sup>vnd</sup></span>
                                </li>
                              </ul>
                          </div> 
                        </div>
                    </div> <!-- #end.room-block-->
    
                    <!-- #room-block /Suite Sea View-->
                    <div class="col-lg-3 col-12">
                        <div class="object object-vertical">
                          <div class="object-image">
                              <a class="link-inherit" href="#"><img src= "img/mudbathspa/exfoliating.jpg" alt="" style="height: 175px"></a>
                          </div>
                          <div class="object-content">
                              <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.spa_skincare %> </a></h5>
                              <ul class="object-details list-unstyled">
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_skincare_cooling %><i class="fa fa-check-circle text-success ml-2"></i></span> 
                                    <span class="col-5"> 1.699.000 <sup>vnd</sup></span>
                                </li>
    
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_skincare_softening %></span> 
                                    <span class="col-5"> 1.299.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_skincare_sesame %></span> 
                                    <span class="col-5"> 870.000 <sup>vnd</sup></span>
                                </li>
    
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_skincare_mudwrap %></span> 
                                    <span class="col-5"> 740.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_skincare_vitaminC %></span> 
                                    <span class="col-5"> 559.000 <sup>vnd</sup></span>
                                </li>
                                
                                <li class="row gutters align-items-left">
                                    <span class="text-muted col-7"><%= translation.spa_skincare_salt %></span> 
                                    <span class="col-5"> 499.000 <sup>vnd</sup></span>
                                  </li>
                              </ul>
                          </div> 
                        </div>
                    </div> <!-- #end.room-block-->

                </div>
              </div>
            </div>  
        </div>
    </section> 
    

</section>