<section id="about" class="section">
  
    <div class="container">
        <div class="row gutters-lg align-items-center">
            <div class="col-lg-4">
                <span class="badge badge-default mb-5"><i class="fa fa-check-circle text-success"></i><%= translation.intro_show %></span>
                <h1 class="mb-0">GALINA SHOW</h1>
                <p class="lead text-muted mb-5"><%= translation.show_st %></p>
                <!-- Feature #1 -->
                <div class="feature feature-1 mb-0">
                    <i class="icon icon-primary ti ti-home animated" data-animation="fadeInDown"></i>
                    <div class="feature-content">
                        <h6 class="mb-0 text-muted"><%= translation.open_hours %></h6>
                        <span class="h3">19:30 - 20:30</span>
                    </div>
                </div>
                <hr class="hr-sm">
                <!-- Feature #1 -->
                <div class="feature feature-1">
                    <i class="icon icon-primary ti ti-fullscreen animated" data-animation="fadeInDown" data-animation-delay="200"></i>
                    <div class="feature-content">
                        <h6 class="mb-0 text-muted"><%= translation.open_schedule %></h6>
                        <span class="h3"><%= translation.open_schedule_detail %></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <img class="rounded shadow" src="img/show/intro.jpg" alt="">
            </div>
            <div class="col-lg-4 col-md-6" data-local-scroll>
                <p><%= translation.aboutShow_line1 %></p>
                <p><%= translation.aboutShow_line2 %></p>
                <a href="#rooms" class="btn btn-primary animated" data-animation="fadeIn">Check rooms list</a>
            </div>
        </div>
    </div>

</section>