<section id="contact" class="section section-double bg-light">
  
    <div class="row">
        <div class="content col-xl-4 col-md-5">
            <h2 class="mb-0"> <%= translation.contact_head %> <br> <%= translation.with_us %></h2>
            <hr class="hr-primary">
            <address>
              <%= translation.show_street %><br>
              <%= translation.ward %><br>
              <%= translation.city %><br>
            </address>
            <p class="lead">
                E: <a class="link-inherit" href="#" style="font-size:1rem; font-weight: bold;">booking@haidanggroup.com</a><br>
                P: <span style="font-size:1rem; font-weight: bold;">+84 901 7000 89</span>
            </p>
            <a href="#" target="_blank" class="icon icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="icon icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
            <a href="#" class="icon icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="icon icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
            <a href="#" class="icon icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="image col-xl-8 col-md-7">
            <!-- <div id="google-map" class="bg-map" data-latitude="12.255900" data-longitude="109.195280" data-style="wy"></div> -->
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="960" height="560" id="gmap_canvas" src="https://maps.google.com/maps?q=galina%20show%20nha%20trang%20viet%20nam&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://www.pureblack.de"></a>
              </div>
              <style>.mapouter{text-align:right;height:560px;width:960px;}.gmap_canvas {overflow:hidden;background:none!important;height:560px;width:960px;}</style>
            </div>
        </div>
    </div>

</section>