<section id="rooms" class="section bg-light pt-0 pb-5">
  
    <!-- Objects - Search -->
    <div class="objects-search bg-dark dark">
      <div class="bg-image-holder bg-image-fixed zooming"><img src="img/show/search-bg.jpg" alt=""></div>
      <div class="container">
        <h1 class="mb-1"> <%= translation.show_welcome1 %> </h1>
        <p class="lead text-muted"> <%= translation.show_welcome2 %> </p>
        <hr>
      </div>
    </div>

    <div class="objects-container container">
      <div class="tab-content">
          <div id="grid_view" class="tab-pane fade show active" role="tabpanel">
            <div class="objects-grid gutters-sm row">
                
                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per01.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_1 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_1 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per02.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_2 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_2 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per03.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_3 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_3 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per04.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_4 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_4 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per05.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_5 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_5 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per06.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_6 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_6 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per07.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_7 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_7 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per08.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_8 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_8 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per09.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_9 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_9 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->

                <!-- #room-block /Superior-->
                <div class="col-lg-3 col-12">
                    <div class="object object-vertical">
                      <div class="object-image">
                          <a class="link-inherit" href="/booking?service=show"><img src= "img/show/perf/per10.jpg" alt=""></a>
                      </div>
                      <div class="object-content">
                          <h5 class="object-title"><a class="link-inherit" href="#"> <%= translation.show_per_title_10 %> </a></h5>
                          <ul class="object-details list-unstyled">
                            <li class="row gutters align-items-left">
                              <span class="text-muted col-12"><%= translation.show_per_detail_10 %></span>
                            </li>
                          </ul>  

                          <a href="/booking?service=show" class="object-btn btn btn-secondary"><span class="hidden-xs-down"></span> <%= translation.detail %></a>
                      </div> 
                    </div>
                </div> <!-- #end.room-block-->
                                
            </div>
          </div>
        </div>  
    </div>
</section> 
